@{
    ViewBag.Title = "Tasks";
}
@using System.Collections.Generic;
@using TaskManager45.Models;

<style type="text/css">
    table.clickable-rows tbody tr:hover
    {
        background-color: #E2E2E2;
        cursor: pointer;
    }
    tr.selected
    {
        background-color: lightyellow;
    }
    tr #details
    {
        display: none;
    }
    tr.selected #details
    {
        display: block;
    }
    

    #newTaskTextBox.inactive
    {
        color: #aaa;
    }

    #newTaskTextBox.active
    {
        color: #333;
    }

    td
    {
    vertical-align: text-top;
    }

</style>
<script type="text/javascript">

    $(document).ready(function () {
        $('tr .description-cell').click(function () {
            $(this).parent().parent().toggleClass('selected');
        });
    });

    function startNewTask() {
        $('#newTaskTextBox').addClass('active').removeClass('inactive');
        if ($('#newTaskTextBox').val() == 'Click here to add a new task') {
            $('#newTaskTextBox').val('');
        }
    }

    function leaveNewTask() {
        $('#newTaskTextBox').addClass('inactive').removeClass('active');
        if ($('#newTaskTextBox').val() == '') {
            $('#newTaskTextBox').val('Click here to add a new task');
        }
    }

    function updateTaskCompleted(id) {
        var checkboxId = '#task-row-' + id + '-completed';
        var isChecked = $(checkboxId).is(":checked");
        //alert(checkboxId + ' checked: ' + isChecked);

        $.ajax({
            type: "POST",
            url: "/Task/UpdateCompleted/" + id,
            dataType: "json",
            async: true,
            data: $('#existingTasksForm').serialize(),
            success: function () {
                if (isChecked) {
                    $('#task-row-' + id).hide('fast', function () {
                        $(this).prependTo('#completed-tasks-table tbody').fadeIn('slow')
                    });
                } else {
                    $('#task-row-' + id).hide('fast', function () {
                        $(this).prependTo('#open-tasks-table tbody').fadeIn('slow')
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ": " + errorThrown);
            }
        });



    }

    function deleteTask(id) {
        if (!confirm("Are you sure you want to delete task " + id + "?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Task/Delete/" + id,
            dataType: "json",
            async: true,
            success: function () {
                $('#task-row-' + id).remove();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ": " + errorThrown);
            }
        });
    }

    function newTaskKeyPress(e) {
        if (e.keyCode == 13) {
            var desc = $('#newTaskTextBox').val();
            $.ajax({
                type: "POST",
                url: "/Task/Create",
                dataType: "json",
                async: true,
                data: $('#newTaskForm').serialize(),
                success: function () {
                    $('#open-tasks-table tbody').prepend(
                        '<tr><td><input type="checkbox" /></td><td>' +
                        desc + '</td></tr>');
                    $('#newTaskTextBox').val('');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown);
                }
            });

            return false;
        }
    }
</script>

<h2>Open Tasks</h2>
<form id="newTaskForm">
    <p>
        <input id="newTaskTextBox" type="text" name="description" value="Click here to add a new task" class="inactive"
                onfocus="startNewTask();" onkeypress="return newTaskKeyPress(event);" onblur="leaveNewTask();" />
    </p>
</form>

@{IEnumerable<Task> tasks = (IEnumerable<Task>) ViewData["Tasks"]; }
<form id="existingTasksForm">

<table id="open-tasks-table" class="clickable-rows">
    <tbody>
        @foreach (var task in tasks.Where(t => !t.CompletedAt.HasValue))
        {
            <tr id="task-row-@task.TaskId">
                <td><input name="task-row-@task.TaskId-completed" type="checkbox" id="task-row-@task.TaskId-completed" 
                     onclick="updateTaskCompleted(@task.TaskId);" /></td>
                <td >
                    <div class="description-cell">@task.Description</div>
                    <div id="details"><a href="javascript:deleteTask(@task.TaskId);">Delete</a></div>
                </td>
            </tr>
        }

@*        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td onclick="$('#details-row-3').toggle();">
                <span>Fix BEL app in dev</span>
            </td>
        </tr>*@
@*        <tr id="details-row-3">
            <td></td>
            <td>
                <div>
                    <div><strong>Comments</strong></div>
                    <p>Here are some comments</p>
                </div>
                <div>
                    <div><strong>Files</strong></div>
                    <div>
                        <ul>
                            <li><a href="file://Y:/Temp/taskmanager45_repository/RE%20Backup%20Exclusion%20List%20Name.txt">RE Backup Exclusion List Name.txt</a></li>
                        </ul>

                    </div>
                </div>

            </td>
        </tr>*@

    </tbody>
</table>

<h2>Completed Tasks</h2>

<table id="completed-tasks-table" class="clickable-rows">
    <tbody>
        @foreach (var task in tasks.Where(t => t.CompletedAt.HasValue))
        {
            <tr id="task-row-@task.TaskId">
                <td><input name="task-row-@task.TaskId-completed" type="checkbox" id="task-row-@task.TaskId-completed" 
                     onclick="updateTaskCompleted(@task.TaskId);" checked="checked" /></td>
                <td >
                    <div class="description-cell">@task.Description</div>
                    <div id="details"><a href="javascript:deleteTask(@task.TaskId);">Delete</a></div>
                </td>
            </tr>
        }

    </tbody>
</table>

</form>
